

<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
      <!-- <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1> -->
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div  >
      <h12 class="mt-4 " style="font-size: 37px;"> <b>What We Do</b> </h12>
<p style="font-size: 14px ; letter-spacing: 3px; text-align: justify; text-indent: 50px; "  >  Our Product Need To Mainly Vote System . It Show Best Jaffna Influent Places. In Category Wise . There Are Education , Restorent ,Park ,Hotel ,Temple . Our site shows the places which have more influence within local peoples. We use bar chart to show the datails and we show 1st , 2nd and 3rd order to show most influence place  .
  It's Helpful For Our Tourist And Visitors And Local People .
If You Should Login This Page Then Will Vote Yourself And Choose Yourself Especially Our Unique Factor Is Vote Yourself . Fist You Vote Then Look Best Place And Vist , Life To Enjoy
</p> </div>

        <!-- <a class="btn btn-primary btn-lg" href="/signup" style="opacity: 0.5;">VOTE NOW &raquo;</a> -->

    </div>


    </div>
  </div>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron center " style="margin: 30px;">
  <h1>Jtop3.lk-Categories</h1>
  <hr>


  <div class="containerOut ">
    <div class=" withImg list-group" >
      <div class="row center">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 well well1">
        <a href="/polls/5bc8e1773357ee0fade9db92">
          <img src="/images/education.png" class="img-responsive" alt="Education">
          <p> Education </p>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
        <a href="/polls/5bc8e2483357ee0fade9dba3">
          <img src="/images/hotels.png" class="img-responsive" alt="ATM">
          <p class="glyphicon-class">Hotel</p>
        </a>
      </div>

            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
              <a href="/polls/5bc8e4a23357ee0fade9dbcd">
                <img src="/images/resturent.png" class="img-responsive" alt="ATM">
                <p class="glyphicon-class">Restaurants</p>
              </a>
            </div>

 </div>
 <div class="row  center">
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1" align="right">
                    <a href="/polls/5bc8e3643357ee0fade9dbb4">
                      <img src="/images/park.png" class="img-responsive" alt="ATM">
                      <p class="glyphicon-class">Park</p>
                    </a>
                  </div>



                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
                          <a href="/polls/5bc8e4013357ee0fade9dbbc">
                            <img src="/images/temple.png" class="img-responsive" alt="ATM">
                            <p class="glyphicon-class">Temple</p>
                          </a>
                        </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
                                  <a href="/polls/5bc8e5683357ee0fade9dbde">
                                    <img src="/images/market.png" class="img-responsive" alt="ATM">
                                    <p class="glyphicon-class"> Supermarket </p>
                                  </a>
                                </div>


</div>
    </div>
  </div>

   <div class="row">
          <div class="center">

<!--
             <div class="list-group">
              {{#if titles}}
                {{#each titles}}
                <a class="poll-list" href="/polls/{{id}}"><h3 class="list-group-item active">{{title}}</h3></a>
                {{/each}}
              {{else}}
            {{/if}}
            </div>
          </div>
        </div> -->
</div>
<br>
<br>



     <!-- addes  codeing   start-->

         <div class="row rowSpace" style="margin: 28px;">

         <h1 style="text-align:center"> <img src="/images/varifedImagelogo.png" style="width: 39px ; height: 40px;"><b> Verified Place</b></h1>

     <br>
           <div class="col-sm-4 my-4 ">
             <div class="card">
               <img class="card-img-top" src="/images/nallur.jpg" style="opacity:0.3">
               <div class="card-body">
                 <h4 class="card-title"><b>Nallur</b></h4>
                 <p class="card-text">Nallur Kandaswamy Kovil is one of the most significant Hindu temples in the Jaffna District of Northern Province, Sri Lanka. It stands in the town of Nallur.</p>
               </div>
               <div class="card-footer">
                 <a  class="btn btn-primary" href="http://www.nalluran.com/">Find Out More!</a>
               </div>
             </div>
           </div>
           <div class="col-sm-4 my-4">
             <div class="card">
               <img class="card-img-top" src="/images/tct1.jpg" style="opacity:0.3">
               <div class="card-body">
                 <h4 class="card-title"><b>TCT</b></h4>
                 <p class="card-text">Thiyahie Charitable Trust organization has been registered under social service voluntary organization regulations section 31 of 1980. </p> <br>
               </div>
               <div class="card-footer">
                 <a class="btn btn-primary">Find Out More!</a>
               </div>
             </div>
           </div>
           <div class="col-sm-4 my-4">
             <div class="card">
               <img class="card-img-top" src="/images/ikman.jpg" style="opacity:0.3">
               <div class="card-body">
                 <h4 class="card-title"><b>Cosy </b></h4>
                 <p class="card-text">Cosy Hotel & Restaurant is set in Jaffna, within 900 metres of Jaffna Public Library and 1.2 km of Jaffna Fort. The property is around ..</p>
             <br>  </div>
               <div class="card-footer">
                 <a href="https://www.expedia.com/Hotel-Search?MDPCID=LK.META.HPA.HOTEL-CORESEARCH-localuniversal-ROOMBUNDLE-desktop.HOTEL&mdpdtl=HTL.13335936.20181021.20181022.DDT.2.CID.1206953712.AUDID.&mctc=10&utm_source=google&utm_medium=cpc&utm_campaign=HotelAds&gclid=AA80Oszw8LVCm_9gAcwG-rLp1OAmMvWJwusjQJG2HxvxR5THIEpI0v-oTObyxmEDhl_POKEFbPAvrMvSRN5HkWZreJWYcVTrraaK6A&startDate=10/21/2018&endDate=10/22/2018&selected=13335936&paandi=true" class="btn btn-primary">Find Out More!</a>
               </div>
             </div>
           </div>

         </div>
         </div>

</div>
          <!-- addes code end  -->
