

<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
      <!-- <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1> -->
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div  >
      <h12 class="mt-4 " style="font-size: 37px;"> <b>What We Do</b> </h12>
<p style="font-size: 14px ; letter-spacing: 3px; text-align: justify; text-indent: 50px; "  >  Our Product Need To Mainly Vote System . It Show Best Jaffna Influent Places. In Category Wise . <br>There Are Education , Restorent ,Park ,Hotel ,Temple . It Can Be Show Order By First Second Third Influence Places .<br> It's Helpful For Our Tourist And Visitors And Local People .
If You Should Login This Page Then Will Vote Yourself<br> And Choose Yourself Especially Our Unique Factor Is Vote Yourself . Fist You Vote Then Look Best Place And Vist , Life To Enjoy
</p> </div>

        <!-- <a class="btn btn-primary btn-lg" href="/signup" style="opacity: 0.5;">VOTE NOW &raquo;</a> -->

    </div>


    </div>
  </div>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron center " style="margin: 30px;">
  <h1>Jtop3.lk-Categories</h1>
  <hr>


  <div class="containerOut ">
    <div class=" withImg list-group" >
      <div class="row center">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 well well1">
        <a href="/polls/5bc75bfdcc5e0f47d49af834">
          <img src="/images/education.png" class="img-responsive" alt="Education">
          <p> Education </p>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
        <a href="/polls/5bc75ae8cc5e0f47d49af825">
          <img src="/images/hotels.png" class="img-responsive" alt="ATM">
          <p class="glyphicon-class">Hotel</p>
        </a>
      </div>

            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
              <a href="/polls/5bc75789cc5e0f47d49af812">
                <img src="/images/resturent.png" class="img-responsive" alt="ATM">
                <p class="glyphicon-class">Restaurants</p>
              </a>
            </div>

 </div>
 <div class="row  center">
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1" align="right">
                    <a href="/polls/5bc75d65cc5e0f47d49af84e">
                      <img src="/images/park.png" class="img-responsive" alt="ATM">
                      <p class="glyphicon-class">Park</p>
                    </a>
                  </div>



                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
                          <a href="/polls/5bc75dd7cc5e0f47d49af855">
                            <img src="/images/temple.png" class="img-responsive" alt="ATM">
                            <p class="glyphicon-class">Temple</p>
                          </a>
                        </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 well well1">
                                  <a href="/polls/5bc75e3dcc5e0f47d49af85c">
                                    <img src="/images/market.png" class="img-responsive" alt="ATM">
                                    <p class="glyphicon-class"> Supermarket </p>
                                  </a>
                                </div>


</div>
    </div>
  </div>

   <div class="row">
          <div class="center">

         <!--    <h3>Recent Polls</h3><br>
             <div class="list-group">
              {{#if titles}}
                {{#each titles}}
                <a class="poll-list" href="/polls/{{id}}"><h3 class="list-group-item active">{{title}}</h3></a>
                {{/each}}
              {{else}}
                <div>No polls created yet. <a href="/users/login">Login</a> to create a poll</div>
            {{/if}}
            </div>
          </div>
        </div> -->
</div>
<br>
<br>



     <!-- addes  codeing   start-->

         <div class="row rowSpace" style="margin: 28px;">

         <h1 style="text-align:center"> <img src="/images/varifedImagelogo.png" style="width: 39px ; height: 40px;"><b> Verified Place</b></h1>

     <br>
           <div class="col-sm-4 my-4 ">
             <div class="card">
               <img class="card-img-top" src="/images/nallur.jpg" style="opacity:0.3">
               <div class="card-body">
                 <h4 class="card-title"><b>Nallur</b></h4>
                 <p class="card-text">Nallur Kandaswamy Kovil is one of the most significant Hindu temples in the Jaffna District of Northern Province, Sri Lanka. It stands in the town of Nallur.</p>
               </div> <br>
               <div class="card-footer">
                 <a  class="btn btn-primary" href="http://www.nalluran.com/">Find Out More!</a>
               </div>
             </div>
           </div>
           <div class="col-sm-4 my-4">
             <div class="card">
               <img class="card-img-top" src="/images/tct1.jpg" style="opacity:0.3">
               <div class="card-body">
                 <h4 class="card-title"><b>TCT</b></h4>
                 <p class="card-text">Thiyahie Charitable Trust organization has been registered under social service voluntary organization regulations section 31 of 1980. </p> <br>
               </div>
               <div class="card-footer">
                 <a class="btn btn-primary">Find Out More!</a>
               </div>
             </div>
           </div>
           <div class="col-sm-4 my-4">
             <div class="card">
               <img class="card-img-top" src="/images/ikman.jpg" style="opacity:0.3">
               <div class="card-body">
                 <h4 class="card-title"><b>ikman.lk</b></h4>
                 <p class="card-text">Buy and sell everything from second-hand cars to mobile phones, or even find a new home. Find a great deal close to you, or search all of Sri Lanka.</p>
             <br>  </div>
               <div class="card-footer">
                 <a href="https://ikman.lk/" class="btn btn-primary">Find Out More!</a>
               </div>
             </div>
           </div>

         </div>
         </div>

</div>
          <!-- addes code end  -->
