<div class="row">
  <div class="center">
    <h2>My Polls</h2><br>
    <ul class="list-group">
    	{{#if polls}}
	      {{#each polls}}
	      <a class="poll-list" href="/polls/{{id}}"><li class="list-group-item">{{title}}</li></a>
	      {{/each}}
	    {{else}}
	      <li>You have not created any polls. Create one <a href="/polls/new">here</a></li>
	    {{/if}}
    </ul>
  </div>
</div>